body {
  font-family: sans-serif;
  margin: 2.5vw;
  font-size: 1.5vw;
}

#spin-bread-box {
  margin: auto;
  width: fit-content;
}

#me-img {
  position: absolute;
  width: 15.3vw;
  height: 17vw;
  right: 3.5vw;
  top: 1vw;
}
#oop-title {
  font-style: italic;
  margin: 0;
}

#article-info {
  margin-top: 0;
  text-align: center;
  font-weight: bold;
}

#article-title {
  margin-bottom: 0;
  text-align: center;
}

#tip {
  font-style: italic;
  margin-bottom: 0;
}

#question {
  font-weight: bold;
  margin-bottom: 0;
}

#answer {
  margin-top: 0;
}

#gamer_headers {
  margin-bottom: 0vw;
}

#game_title {
  font-size: 4vw;
  margin-bottom: 0.5vw;
}

#game_paragraph {
  width: 70%;
}
